.button
{
  font-size: 20px;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  margin:  auto;
  width: 100px;
  height:30px;
  background: rgb(252, 118, 118);
  border: 1px solid rgba(172, 51, 51, 0.87);
  color: #FFF;
}

.button:hover, .button:active 
{
  color: rgb(252, 118, 118);
  border-color: rgba(172, 51, 51, 0.87);
  background: #FFF;
}

.button span 
{
  position: relative;
  padding-right: 0;
  transition: padding-right 0.5s;
}

.button span:after 
{
  content: ' ';  
  position: absolute;
  top: 0;
  right: -15px;
  opacity: 0;
  width: 10px;
  height: 10px;
  margin-top: -7px;
  border: 3px solid #FFF;
  border-top: currentColor;
  border-right: currentColor;
  transform: rotate(-45deg);
}

.button:hover span, .button:active span 
{
  padding-right: 30px;
}

.button:hover span:after, .button:active span:after 
{
  transition: opacity 0.5s, top 0.5s, right 0.5s;
  opacity: 1;
  border-color: rgba(172, 51, 51, 0.87);;
  right: 0;
  top: 50%;
}

table {
  width: 45%;
}